.head-register{
    background-color: rgba(105, 59, 203, 0.07);
    width: 100%;
}
.head-register h3{
    font-size: 32px;
    font-weight: 500;
    line-height:  125px;
    text-align: center;

}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input-register{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: black
}
.btn-register{
    margin-top: 50px;
    width: 50%;
    background-color:green;
    color :white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
