.popup{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100VH;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

}
.popup-inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: aliceblue;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}
.close-btn {
	overflow: hidden;
	position: relative;
	border: none;
	padding: 0;
	width: 2em; height: 2em;
	border-radius: 50%;
	background: transparent;
	color: #1da1f2;
	font: inherit;
	text-indent: 100%;
	cursor: pointer;
}
	.close-btn:focus {
		outline: solid 0 transparent;
		box-shadow: 0 0 0 2px #8ed0f9
	}
	
	.close-btn:hover {
		background: rgba(29, 161, 142, .1)
	}
	
	.close-btn:before,.close-btn:after {
		position: absolute;
		top: 15%; left: calc(50% - .0625em);
		width: .125em; height: 70%;
		border-radius: .125em;
		transform: rotate(45deg);
		background: currentcolor;
		content: ''
	}
	
    .close-btn:after { transform: rotate(-45deg); }
